.remaining-balance-box {
  border: 3px solid #05396b;
  border-radius: 100px;
  display: flex;
  height: 20vh;
  width: 95%;
  margin: 10px auto;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
